<div class="largebox" id="subsubtopic">
    <font class="subsubtopic-heading">*</font>

    <div align="right" style="display: inline; float: right">
        <div class="dropdown demo">
            <img src="symbols/settingsubsubtopic.png" class="settings" onmouseenter="changecolor(this, 'settingshover')" onmouseleave="changecolor(this, 'settingsubsubtopic')">
            <div class="dropdown-content">
                <p onclick="change(this.parentElement.parentElement.parentElement.parentElement, 'Change Sub-Sub-Topic')">Edit</p>
                <p onclick="del(this.parentElement.parentElement.parentElement.parentElement.parentElement)">Delete</p>
            </div>
        </div>
    </div>
</div>